.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main-component {
    color: rgb(223, 116, 17);
}

.main-component h1 {
    width: 100%;
    background-color: rgb(53, 185, 53);
    color: white;
}

.items-list {
    display: grid;
    width: 100%;
    padding-right: 100px;
    padding-left: 200px;
    grid-template-columns: 100px 100px 100px 100px;
    align-items: start;
    justify-content: space-between;
}

.button {
    padding: 5px 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(9, 24, 15);
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.items h3 {
    padding: 5px;
}